USE [master]
GO
/****** Object:  Database [oficios]    Script Date: 31/07/2019 03:39:10 a. m. ******/
CREATE DATABASE [oficios]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'oficios', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\oficios.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'oficios_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\oficios_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [oficios].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [oficios]
GO
USE [oficios]
GO
/****** Object:  Table [dbo].[Dependencia]    Script Date: 31/07/2019 03:39:10 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dependencia](
	[id] [int] NOT NULL,
	[Nombre] [varchar](100) NULL,
 CONSTRAINT [PK_Dependencia] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Estado]    Script Date: 31/07/2019 03:39:11 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estado](
	[id] [varchar](5) NOT NULL,
	[Nombre] [varchar](50) NULL,
 CONSTRAINT [PK_Estado] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Oficio]    Script Date: 31/07/2019 03:39:11 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Oficio](
	[id] [varchar](15) NOT NULL,
	[Asunto] [varchar](1500) NULL,
	[Fecha_envio] [date] NULL,
	[id_tipo] [varchar](5) NOT NULL,
 CONSTRAINT [PK_Oficio] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Oficio_dependencia]    Script Date: 31/07/2019 03:39:11 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Oficio_dependencia](
	[oficio_id] [varchar](15) NOT NULL,
	[dependencia_id] [int] NOT NULL,
	[estado_id] [varchar](5) NOT NULL,
	[Fecha_respuesta] [date] NULL,
 CONSTRAINT [PK_dependencia_oficio_estado] PRIMARY KEY CLUSTERED 
(
	[oficio_id] ASC,
	[dependencia_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tipo]    Script Date: 31/07/2019 03:39:11 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tipo](
	[id] [varchar](5) NOT NULL,
	[Nombre] [varchar](50) NULL,
 CONSTRAINT [PK_Tipo] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Dependencia] ([id], [Nombre]) VALUES (1, N'Órgano Interno de Control')
INSERT [dbo].[Dependencia] ([id], [Nombre]) VALUES (2, N'Secretaría del H. Ayuntamiento de Ahome')
INSERT [dbo].[Dependencia] ([id], [Nombre]) VALUES (3, N'Dirección de la Unidad de Transparencia')
INSERT [dbo].[Estado] ([id], [Nombre]) VALUES (N'1', N'Recibido en tiempo
')
INSERT [dbo].[Estado] ([id], [Nombre]) VALUES (N'2', N'Recibido fuera  de tiempo
')
INSERT [dbo].[Estado] ([id], [Nombre]) VALUES (N'3', N'Sin respuesta
')
INSERT [dbo].[Tipo] ([id], [Nombre]) VALUES (N'1', N'Invitación
')
INSERT [dbo].[Tipo] ([id], [Nombre]) VALUES (N'2', N'Solicitud de información
')
INSERT [dbo].[Tipo] ([id], [Nombre]) VALUES (N'3', N'Solicitud de reunión
')
ALTER TABLE [dbo].[Oficio]  WITH CHECK ADD  CONSTRAINT [FK_Oficio_Tipo] FOREIGN KEY([id_tipo])
REFERENCES [dbo].[Tipo] ([id])
GO
ALTER TABLE [dbo].[Oficio] CHECK CONSTRAINT [FK_Oficio_Tipo]
GO
ALTER TABLE [dbo].[Oficio_dependencia]  WITH CHECK ADD  CONSTRAINT [FK_dependencia_oficio_Dependencia] FOREIGN KEY([dependencia_id])
REFERENCES [dbo].[Dependencia] ([id])
GO
ALTER TABLE [dbo].[Oficio_dependencia] CHECK CONSTRAINT [FK_dependencia_oficio_Dependencia]
GO
ALTER TABLE [dbo].[Oficio_dependencia]  WITH CHECK ADD  CONSTRAINT [FK_dependencia_oficio_Estado] FOREIGN KEY([estado_id])
REFERENCES [dbo].[Estado] ([id])
GO
ALTER TABLE [dbo].[Oficio_dependencia] CHECK CONSTRAINT [FK_dependencia_oficio_Estado]
GO
ALTER TABLE [dbo].[Oficio_dependencia]  WITH CHECK ADD  CONSTRAINT [FK_dependencia_oficio_Oficio1] FOREIGN KEY([oficio_id])
REFERENCES [dbo].[Oficio] ([id])
GO
ALTER TABLE [dbo].[Oficio_dependencia] CHECK CONSTRAINT [FK_dependencia_oficio_Oficio1]
GO
USE [master]
GO
